:root {
    --gal-width: 6.5vw;
}

#header li:first-child {
    color: var(--highlight-1) !important;
}

#p1 img {
    object-position: 40% bottom;
}

#content {
    width: 90vw;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: var(--font-body);
    color: var(--font-color-1);
}

#gallery-title {
    font: var(--font-title);
    color: var(--highlight-1);
    font-size: 3em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

#gallery {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.short-wrapper {
    min-height: calc(90vw * 3 / 4 + 7em);
    aspect-ratio: 4/3;
}

.tall-wrapper {
    min-height: calc(90vw * 7 / 4 + 7em);
    aspect-ratio: 4/7;
}

.gallery-wrapper {
    position: relative;
    transition: transform 0.25s;
}

.gallery-wrapper>span {
    font: var(--font-subtitle);
    color: var(--background-1);
    overflow: visible;
    position: absolute;
    left: 0;
    transform-origin: top left;
    transition: transform 0.25s;
}

.tall-wrapper>span {
    top: calc(90vw * 7 / 4);
}

.short-wrapper>span {
    top: calc(90vw * 3 / 4);
}

.short {
    aspect-ratio: 4/3;
}

.tall {
    aspect-ratio: 4/7;
}

.gallery-image {
    width: 100%;
    object-fit: cover;
}

.tall-wrapper:hover {
    transform: scale(1.07);
}

.tall-wrapper:hover>span {
    transform: scale(calc(1 / 1.07));
}

.short-wrapper:hover {
    transform: scale(1.15);
}

.short-wrapper:hover>span {
    transform: scale(calc(1 / 1.15));
}

body {
    background-color: var(--background-2);
}

@media screen and (min-width: 750px) {
    #gallery-title {
        align-self: start;
    }

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "p1 p2 p3"
            "p1 p4 p5"
            "p6 p7 p10"
            "p8 p9 p10";
        column-gap: calc((90vw - 3 * var(--gal-width) * 4) / 2);
        row-gap: var(--gal-width);
        padding-bottom: var(--gal-width);
    }

    .gallery-wrapper {
        transform-origin: top left;
    }

    .gallery-wrapper>span {
        font-size: 2vw;
    }

    .short-wrapper {
        min-height: 0;
    }

    .tall-wrapper {
        min-height: 0;
    }

    .tall-wrapper>span {
        top: calc(var(--gal-width) * 7);
    }

    .short-wrapper>span {
        top: calc(var(--gal-width) * 3);
    }

    #p1 {
        grid-area: p1;
    }

    #p2 {
        grid-area: p2;
    }

    #p3 {
        grid-area: p3;
    }

    #p4 {
        grid-area: p4;
    }

    #p5 {
        grid-area: p5;
    }

    #p6 {
        grid-area: p6;
    }

    #p7 {
        grid-area: p7;
    }

    #p8 {
        grid-area: p8;
    }

    #p9 {
        grid-area: p9;
    }

    #p10 {
        grid-area: p10;
    }
}