#header li:first-child {
    color: var(--highlight-1) !important;
}

h1,
h2,
h3 {
    font: var(--font-title);
    margin-bottom: 0.5em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

#content {
    padding-top: 4em;
    padding-bottom: 4em;
    width: 80vw;
    overflow: visible;
    display: flex;
    flex-direction: column;
    font: var(--font-body);
    font-size: 0.8em;
    color: var(--font-color-2);
    gap: 6em;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid {
    width: 100%;
    display: grid;
    grid-gap: 4em;
}

.row img {
    object-fit: cover;
    height: 100%;
}

.grid img {
    object-fit: cover;
    width: 100%;
}

#content .right {
    text-align: right;
    align-self: end;
}

#content .right-text {
    text-align: right;
}

#content .left {
    align-self: start;
}

.half {
    width: clamp(50%, 700px, 100%);
}

.full {
    width: 100%;
}

@media screen and (max-width: 749px) {
    h2 {
        font-size: 15vw;
    }

    h3 {
        font-size: 10vw;
    }

    .row,
    .grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #content .right,
    #content .right-text {
        text-align: left;
    }
}