#img1 {
    margin-top: -5vw;
}

.row1 {
    height: 43.5vw;
    gap: 5vw;
}

.row1 img {
    margin-top: -5vw;
}

#typography {
    margin-top: -5vw;
}

.row2 {
    height: 35vw;
}

#content {
    padding-bottom: 7vw;
}

.grid1 {
    grid-template-columns: 1fr 1fr;
}

.button {
    margin-top: 1em;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 6em;
    height: 3.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/button2.svg");
    font: var(--font-subtitle);
}

#mac-container {
    position: relative;
    display: flex;
    padding-bottom: 1em;
}

#mac-container>a {
    position: absolute;
    bottom: 0;
    right: 1em;
    color: gray;
    font-size: 0.8em;
}

.button>span {
    margin-top: 0.5em;
    text-align: center;
}

#mac {
    align-self: end;
}


@media screen and (max-width: 749px) {

    .row1 {
        flex-direction: column-reverse;
    }

    .row1,
    .row2 {
        height: auto;
    }

    .row1 img,
    .row2 img {
        width: 80vw;
    }

    #content,
    .row1,
    .row2 {
        gap: 2em;
    }

    #content {
        padding-bottom: 4em;
    }
}